<div id="notebookModal" class="modal">
    <div class="modal-content">
        <h4>New notebook</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="notebookTitleInput" type="text" length="10" [(ngModel)]="notebook.title">
                        <label for="notebookTitleInput">Title</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action waves-effect waves-green btn-flat" (click)="save()">Save</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>